* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav ul {
    list-style: none;
    background: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

hr {
    height: 2px; 
    background-color: black; 
    border: none; 
    margin: 10px 0; 
}


header {
    position: relative;
    text-align: center; 
    color: black;
}

.overlay {
    position: absolute;
    top: 86%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-title {
    background-color: rgba(174, 150, 150, 0.7); 
    padding: 10px; 
    border-radius: 5px; 
    width: 1000%;
    max-width: 1000px;
    text-align: center;
}

#profile {
    text-align: center;
    padding: 20px;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-grow: 1; 
}

.project {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 80%;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.item img {
    margin-right: 20px; 
}

.item p {
    max-width: 500px; 
}

#gallery {
    text-align: center;
}

.gallery {
    display: inline-block; 
    text-align: left;
}

.gallery img {
    width: calc(33.33% - 20px); 
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .gallery img {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .gallery img {
        width: 100%;
    }
}
